#photo {
  position: relative;
  .photo_stream-link {
    .photo_stream-link-prev {
      margin: 0;
      padding: 0;
      position: absolute;
      width: 50%;
      height: 100%;
      display: block;
    }
    .photo_stream-link-next {
      margin: 0;
      padding: 0;
      margin-left: 50%;
      position: absolute;
      width: 50%;
      height: 100%;
      display: block;
    }
  }
}
